html{background-color: rgb(231, 199, 158);}
#center{text-align: center;color: aquamarine;background-color: blanchedalmond;font-family: monospace;}
#dev{text-align:left; color: rgb(107, 245, 146);}
.pic{background-color: aqua;}
