html{background-color:#393E46;font-family:Teko;color:#00ADB5}
#center{text-align: center;color:white;background-color:#5C5470;font-family:bungee;}
.dev{text-align:left; color: rgb(107, 245, 146);}
.pic{background-color: aqua;}
#a{border:10px solid rgb(106, 61, 219);}

